* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
   
}

nav {
    font-family: "Catamaran", sans-serif;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10%;
    width: 100%;
    background-color:  rgb(25, 25, 93);
    padding-top: 3%;
    

}

.navbrand {
    font-size:2.0rem;
    font-weight: bold;
    color:white;
    margin-right:20%;
    position:relative;
    
}
.navbrand::first-letter {
    color:rgb(255, 68, 0);
  }

.navbar {
    display: flex;
    list-style-type: none;
    gap:5%;
    width:40%;
    /* border:solid 1px yellow; */
    /* padding-right: 7%; */
}

.navbar li {
    text-align: center;
    font-size: 15px;
    margin-left: 5%;
    
   /* margin: 5%; */

}

.navbar li a {
    font-size: 13px;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

.navbar li a:hover{
   color:rgb(255, 68, 0);
}

.navbar .active{
    color:rgb(255, 68, 0);
}
.nav-btn{
    /* margin-top: 10%; */
    height:30px;
    width:120px;
border-radius: 20px 20px 20px 20px;
border: none;
background-color: rgb(236, 57, 131);
color:white;
font-size: 13px;
}

.nav-btn:hover{
    background-color: white;
    color:rgb(236, 57, 131);
}

.header-14{
    height:650px;
    width:100%;
    gap:5%;
    justify-content: center;
    align-items: center;
    margin-top: 4%;
    padding-top: 5%;

}

.content{
    height:500px;
    width:30%;
 padding-left: 5%;
 margin-top: 5%;
 color: white;

}

.content h1{
    margin-top: 8%;
    font-size:38px;
    color:white;
    line-height: 50px;
}

.text{
    margin-top: 10%;
    line-height: 25px;
}

.btn-1{
    margin-top: 10%;
    height:30px;
    width:120px;
border-radius: 20px 20px 20px 20px;
border: none;
background-color: rgb(236, 57, 131);
color:white;
font-size: 13px;
}

.btn-1:hover{
    background-color: white;
    color:rgb(236, 57, 131);
}
.container {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: beige;
}

.form {
    max-width: 430px;
    width: 100%;
    padding: 30px;
    border: 1px solid grey;
    border-radius: 6px;
    background-color: #fff;
}

header {
    font-size: 28px;
    font-weight: 600;
    text-align: center;
}

form {
    margin-top: 30px;

}

.form .field {
    height: 50px;
    width: 100%;
    margin-top: 20px;
    position:relative;
    border-radius: 6px;

}

.field input,
.field button {
    height: 100%;
    width: 100%;
    border: none;
    border-radius:40px 40px 40px 40px;

}

.field input {
    padding: 0 15px;
    border: 1px solid#CACACA;
    outline: none;
}
.field input:focus{
    border-bottom-width: 3px;
}
.eye-icon{
    font-size: 15px;
    position: absolute;
    top:50%;
    right:10px; 
    transform: translateY(-50%);
    color:#CACACA
}
.eye-icon:hover{
    color:#232836;
}

.form-link {
    text-align: center;
    margin-top: 10px;
}

.form-link span,
.form-link a 
{
    font-size: 14px;
    font-weight: 400;
    color: #232836;
}
.field button{
    background-color: #0171d3;
    color:#fff;
    font-size: 15px;
}
.form a{
    color:#0171d3;
    text-decoration: none;
}
.form a:hover{
    text-decoration: underline;
}
.line{
    position: relative;
    height:1px;
    width:100%;
    background-color:#d4d4d4;
    margin:36px 0;

}
.line::before{
    content:'or';
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    background-color: #ffff;
    padding:0 15px;
}




 

